/* Global font Poppins
======================*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global styles begins
======================*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
body {
  background-image: url("../pattern/pattern-1.png");
}

html {
  font-size: 100%;
}
:root {
  --black: #222;
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
  --green: #27ae60;
  --orangered: #ff4500;
  --orange: #ef233c;
  --darkorange: #ff8c00;
  --white-color: #fff;
}

/* Header area styles
====================== */
.header {
  background-image: url("../images/img-4.jpg");
  background-position: center;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  position: relative;
}

.message-box {
  position: absolute;
  background-color: #444;
  color: #fff;
  right: 0rem;
  bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.2rem;
  padding: 1rem;
}

.message-box > h3 {
  font-family: "Austein Script";
  font-size: 2rem;
  color: var(--white-color);
}
.header > .text-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
}

.header > .text-box-wrapper .text-box {
  width: 100%;
  color: #fff;
}

.header > .text-box-wrapper > .text-box > h1 {
  margin: 0rem 0rem 1.5rem 10rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
}

.header > .text-box-wrapper > .text-box > p {
  margin: 0rem 0rem 2.5rem 10rem;
  font-size: 1rem;
  font-weight: 400;
  width: 40%;
}

.header > .text-box-wrapper > .text-box > a {
  margin: 0rem 0rem 3rem 10rem;
  background-color: #f02648;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  color: #fffefe;
  text-align: center;
  font-weight: 600;
}

.header > .text-box-wrapper > .text-box > a:hover {
  color: #fff;
  background-color: red;
  font-weight: 700px;
  background-image: linear-gradient(to right, #ff0000, #f83d36);
}

/* Main content area styles begin
================================= */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Section styles
================= */
section {
  margin: 3rem 10rem;
}

/* Donation styles
================== */
.donation > .flex-container > .text-box {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  height: 25rem;
}

.donation > .flex-container > .text-box {
  width: 50%;
  padding: 0rem 2rem 0rem 0rem;
}

.donation > .flex-container > .text-box > h1 {
  color: var(--black);
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: none;
}

.donation > .flex-container > .text-box > p {
  margin: 1.5rem 0rem 0rem 0rem;
  text-align: justify;
}

.donation > .flex-container > .text-box > a {
  width: 60%;
  margin: 2.4rem 0rem 0rem 0rem;
  background-color: #f02648;
  width: 9.5rem;
  background-color: #f02648;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  color: #fffefe;
  text-align: center;
  font-weight: 600;
}

.donation > .flex-container > .text-box > a:hover {
  color: #fff;
  background-color: red;
  font-weight: 600px;
  background-image: linear-gradient(to right, #ff0000, #f83d36);
}

.donation > .flex-container > .image-box {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: 0rem 0rem 0rem 2rem;
}

.donation > .flex-container > .image-box > figure {
  width: 100%;
}

.donation > .flex-container > .image-box > figure > figcaption {
  margin: 0rem 0rem 0rem 1rem;
}

.donation > .flex-container > .image-box > figure > img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 25rem;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  border-radius: 0.5rem;
  align-items: end;
}

.donation > .flex-container > .image-box img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Protect-them section styles
============================== */
.protect-them > .flex-container > .text-box {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: center;
  align-items: end;
  height: 25rem;
}

.protect-them > .flex-container > .text-box {
  width: 50%;
  padding: 0rem 0rem 0rem 2rem;
}

.protect-them > .flex-container > .text-box > h1 {
  color: var(--black);
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: none;
}

.protect-them > .flex-container > .text-box > p {
  margin: 1.5rem 0rem 0rem 0rem;
  text-align: justify;
}

.protect-them > .flex-container > .text-box > a {
  width: 60%;
  margin: 2.4rem 0rem 0rem 0rem;
  background-color: #f02648;
  width: 9rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.protect-them > .flex-container > .text-box > a:hover {
  color: #fff;
  background-color: red;
  font-weight: 600;
  background-image: linear-gradient(to right, #ff0000, #f83d36);
}

.protect-them > .flex-container > .image-box img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.protect-them > .flex-container > .image-box {
  width: 50%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0.5rem;
}

.protect-them > .flex-container > .image-box > figure {
  width: 100%;
}

.protect-them > .flex-container > .image-box > figure > figcaption {
  margin: 0rem 0rem 0rem 1rem;
}

.protect-them > .flex-container > .image-box > figure > img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 25rem;
  margin: 0rem 0rem 0rem 0rem;
  width: 100%;
  border-radius: 0.5rem;
  align-items: end;
}

/* Donation option styles
========================= */
.donation-option > h1 {
  color: var(--black);
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: none;
  text-align: center;
  margin: 0rem 0rem 1.5rem 0rem;
}

.donation-option > p {
  text-align: center;
  width: 60%;
  margin: 1rem auto;
}

.donation-option .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.donation-option > .flex-container > .content-box {
  height: 14rem;
  width: 48%;
  margin: 1rem 0.5rem 0rem 0.5rem;
  background-color: #fef4f5;
  border-radius: 0.5rem;
}

.donation-option > .flex-container > .content-box > .text-box h1 {
  font-size: 1.3rem;
  color: var(--black);
  line-height: 2rem;
  text-transform: none;
  margin: 0rem 0rem 1rem 0rem;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
}
.content-box .img-box {
  width: 15%;
  padding: 1rem 1rem;
}
.content-box .img-box img {
  width: 3rem;
  height: 3rem;
}

.content-box .text-box {
  width: 85%;
  padding: 1rem 1rem;
}

.donation-option .flex-container .content-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Photo gallery styles
======================= */
.charity > h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: none;
  color: var(--black);
}

.photo-gallery .flex-container .img-gallery {
  width: 31.7%;
  border: 0.1rem solid#ccc;
  margin: 0rem 0.5rem;
  border-radius: 0.5rem;
}

.photo-gallery .flex-container .img-gallery img {
  width: 100%;
  height: 18.5rem;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.photo-gallery .flex-container .img-gallery {
  padding: 1rem;
  background-position: center;
  background-size: cover;
}

.photo-gallery .flex-container .img-gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.photo-gallery .flex-container .img-gallery > figure > a > figcaption {
  text-align: center;
  background-color: var(--black);
  color: #fff;
}

/* Charity section styles
==========================*/
.charity > h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
}

.charity > p {
  text-align: center;
  width: 60%;
  margin: 1.5rem auto;
}

.charity .flex-container .img-gallery {
  width: 31.7%;
  border: 0.1rem solid#ccc;
  margin: 0rem 0.5rem;
  border-radius: 0.5rem;
}

.charity .flex-container .img-gallery img {
  width: 100%;
  height: 18rem;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.charity .flex-container .img-gallery .img-description {
  padding: 1rem;
  background-position: center;
  background-size: cover;
}

.charity .flex-container .img-gallery .img-description > p {
  margin: 1rem 0rem;
}

.charity .flex-container .img-gallery .img-description > a {
  background-color: #f02648;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  color: #fffefe;
  text-align: center;
  font-weight: 600;
}

.charity .flex-container .img-gallery .img-description > a:hover {
  color: #fff;
  background-color: red;
  font-weight: 700px;
  background-image: linear-gradient(to right, #ff0000, #fa433c);
}

.charity .flex-container .img-gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Contact us form styles
========================= */
.contact-us > h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 2rem 0rem;
  color: var(--black);
}
.contact-us .flex-container .contact-form {
  width: 80%;
  padding: 1.5rem 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}

.contact-us .flex-container .contact-form .input-field {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0rem 0rem 0rem;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
}
.contact-us .flex-container .contact-form .input-field:hover {
  color: #000;
  box-shadow: var(--box-shadow-inset);
}

.contact-us .flex-container .contact-form #submit-btn {
  width: 20%;
  margin: 1.5rem 0rem 1.5rem 0rem;
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 500;
}

.contact-us .flex-container .contact-form #submit-btn:hover {
  font-weight: 500;
  box-shadow: var(--box-shadow-inset);
  color: var(--green);
}

.contact-us .flex-container .contact-form .input-field:focus {
  box-shadow: var(--box-shadow-inset);
  color: var(--black);
  /* font-size: 1rem; */
  text-transform: none;
}

/* Footer styles
================ */
.footer {
  padding: 2rem;
  background-color: var(--black);
  color: #fff;
  text-align: center;
  margin-top: 5rem;
}
.footer h2 {
  font-family: "Austein Script";
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--orange);
  text-transform: none;
}
.footer p {
  font-style: italic;
  text-transform: none;
}
